{% for field in form.fields %}
    {% if field.element == 'field' %}
        <p>
            {{ field.label }}<br />
            {{ response.data|get_item_to_string:field.id }}
        </p>
    {% elif field.element == 'h2' %}
        <h2>{{ field.value }}</h2>
    {% elif field.element == 'h3' %}
        <h3>{{ field.value }}</h3>
    {% elif field.element == 'h4' %}
        <h4>{{ field.value }}</h4>
    {% elif field.element == 'p' %}
        {{ field.value }}
    {% endif %}
{% endfor %}