<h1>{{ form.title }}</h1>

{% if response.respondent %}
<p>
    Respondent: {{ response.respondent.full_name }} ({{ response.respondent.email }})
</p>
{% endif %}

<p>
    Aangemaakt op: {{ response.created_at }}<br />
    Laatst bijgewerkt: {{ response.updated_at }}
</p>
