<style scoped>
</style>

<template>
  <div>
    <ul>
      <li v-for="(option, i) in currentValue" v-bind:key="i">
        <div class="flex mb-1">
          <input type="text" name="" v-model="currentValue[i]" class="form-input w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
          <button class="m-1" @click="(e) => { e.preventDefault(); removeRow(i) }" aria-label="Verwijder rij">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" viewBox="0 0 24 24">
              <path d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </li>
      <button type="button" class="btn-secondary mt-2" @click="(e) => { e.preventDefault(); addRow() }">Voeg toe</button>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'OptionsField',
  props: {
    value: Array
  },
  data() {
    return {
      currentValue: this.value ? this.value : [],
    }
  },
  methods: {
    addRow() {
      this.currentValue.push("")
    },
    removeRow(i) {
      this.$delete(this.currentValue, i)
    },
  }
}
</script>