{% extends '_base_no_nav.html' %}

{% block content %}
    <div class="mt-14 sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-2xl font-bold text-gray-900">
            Ongeldig verzoek
        </h2>
        <p>
            Ga terug en probeer het opnieuw.
        </p>
    </div>
{% endblock %}
