{% extends '_base_no_nav.html' %}

{% block content %}
    <div class="mt-14 sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-2xl font-bold text-gray-900">
            Kan de pagina niet vinden
        </h2>
        <p>
            Deze pagina kan niet (meer) gevonden worden. Wellicht is de link verlopen.
        </p>
    </div>
{% endblock %}
