{% load static %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if title %}{{ title }} · {% endif %}Forms</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    {% render_bundle 'app' %}
  </head>

  <body class="antialiased font-sans {% if background == 'gray' %}bg-gray-100{% endif %}">
    {% block header %}{% endblock %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
