{% extends '_base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <h2 class="text-2xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
            Respondent verwijderen
        </h2>

        <form method="POST">
            {% csrf_token %}

            <p class="mt-2">
                Weet je zeker dat je respondent <b>{{ respondent.email }}</b> wil verwijderen?
            </p>

            <button type="submit" class="mt-6 btn-primary-danger">
                Verwijder
            </button>

            <a href="{% url 'form_respondents' respondent.form.id %}" class="btn-secondary">Annuleer</a>
        </form>
    </div>
{% endblock %}
