{% extends '_base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <h2 class="text-2xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
            Formulier dupliceren
        </h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            <div class="mt-6">
                <div class="mt-1 rounded-md shadow-sm">
                    <label for="id_title" class="block text-sm font-medium leading-5 text-gray-700">
                        Titel
                    </label>
                    {{ form.title }}
                </div>
                {% for error in form.title.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_copy_respondents" class="block text-sm font-medium leading-5 text-gray-700">Kopieer respondenten</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.copy_respondents }}
                    </div>
                </div>

                {% for error in form.copy_respondents.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_copy_answers" class="block text-sm font-medium leading-5 text-gray-700">Kopieer antwoorden</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.copy_answers }}
                    </div>
                </div>

                {% for error in form.copy_answers.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_copy_actions" class="block text-sm font-medium leading-5 text-gray-700">Kopieer acties</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.copy_actions }}
                    </div>
                </div>

                {% for error in form.copy_actions.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6 flex justify-between">
                <button type="submit" class="btn-primary">
                    Dupliceren
                </button>
            </div>
        </form>
    </div>
{% endblock %}
