{% extends '_base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <h2 class="text-2xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
            Formulier wijzigen
        </h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            <div class="mt-6">
                <div class="mt-1 rounded-md shadow-sm">
                    <label for="id_title" class="block text-sm font-medium leading-5 text-gray-700">
                        Titel
                    </label>
                    {{ form.title }}
                </div>
                {% for error in form.title.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="mt-1 rounded-md shadow-sm">
                    <label for="id_title" class="block text-sm font-medium leading-5 text-gray-700">
                        Logo
                    </label>
                    {{ form.logo }}
                </div>
                {% if form.fields.errors %}
                    {% for error in form.logo.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mt-2 text-sm text-gray-500">Optioneel. Kies een logo in PNG of JPG formaat.</p>
                {% endif %}
            </div>

            <div class="mt-6">
                <label for="id_fields" class="block text-sm font-medium leading-5 text-gray-700">
                  Velden
                </label>
                <div id="js-editor-entry-point" class="mt-1"></div>
                {{ js_editor|json_script:"js-editor-data" }}

                {% for error in form.fields.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6">
                <label for="id_fields" class="block text-sm font-medium leading-5 text-gray-700">
                  Beheerders
                </label>
                <div id="js-manager-selector-entry-point" class="mt-1"></div>
                {{ js_manager_selector|json_script:"js-manager-selector-data" }}

                {% for error in form.managers.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6">
                <label for="id_introduction" class="block text-sm font-medium leading-5 text-gray-700">
                  Introductie
                </label>
                <div id="js-introduction-editor-entry-point" class="mt-1"></div>
                {{ js_introduction_editor_data|json_script:"js-introduction-editor-data" }}

                {% if form.introduction.errors %}
                    {% for error in form.introduction.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="mt-6">
                <label for="id_fields" class="block text-sm font-medium leading-5 text-gray-700">
                  Uitnodigingstemplate onderwerp
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                    {{ form.invitation_mail_subject }}
                </div>
                {% if form.invitation_mail_subject.errors %}
                    {% for error in form.invitation_mail_subject.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mt-2 text-sm text-gray-500">Gebruik dit veld voor een aangepaste e-mailtemplate.</p>
                {% endif %}
            </div>

            <div class="mt-6">
                <label for="id_invitation_mail_message" class="block text-sm font-medium leading-5 text-gray-700">
                  Uitnodigingstemplate bericht
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                    {{ form.invitation_mail_message }}
                </div>
                {% if form.invitation_mail_message.errors %}
                    {% for error in form.invitation_mail_message.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mt-2 text-sm text-gray-500">Gebruik dit veld voor een aangepaste e-mailtemplate.</p>
                {% endif %}
            </div>

            <div class="mt-6">
                <label for="id_thank_you_message" class="block text-sm font-medium leading-5 text-gray-700">
                  Dankbericht na afronding formulier
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                    {{ form.thank_you_message }}
                </div>
                {% if form.thank_you_message.errors %}
                    {% for error in form.thank_you_message.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mt-2 text-sm text-gray-500">Gebruik dit veld voor een aangepast bericht na het invullen van het formulier.</p>
                {% endif %}
            </div>

            <div class="mt-6">
                <label for="id_email_confirmation_subject" class="block text-sm font-medium leading-5 text-gray-700">
                  Bevestigingsmailtemplate onderwerp
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                    {{ form.email_confirmation_subject }}
                </div>
                {% if form.email_confirmation_subject.errors %}
                    {% for error in form.email_confirmation_subject.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mt-2 text-sm text-gray-500">Gebruik dit veld voor het instellen van een bevestigingsmail. Zorg dat er een veld beschikbaar is met het interne ID "email" dat het e-mailadres van de respondent bevat.</p>
                {% endif %}
            </div>


            <div class="mt-6">
                <label for="id_email_confirmation_message" class="block text-sm font-medium leading-5 text-gray-700">
                  Bevestigingsmailtemplate bericht
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                    {{ form.email_confirmation_message }}
                </div>
                {% if form.email_confirmation_message.errors %}
                    {% for error in form.email_confirmation_message.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p class="mt-2 text-sm text-gray-500">Gebruik dit veld voor het instellen van een bevestigingsmail. Zorg dat er een veld beschikbaar is met het interne ID "email" dat het e-mailadres van de respondent bevat.</p>
                {% endif %}
            </div>

            <div class="mt-6">
                <label for="id_access" class="block text-sm font-medium leading-5 text-gray-700">
                    Toegang
                </label>
                <div class="mt-2">
                    <div class="relative flex items-start">
                        <div class="absolute flex items-center h-5">
                            <input id="open" type="radio" name="access" class="form-radio h-4 w-4 text-blue-600 transition duration-150 ease-in-out" value="OPEN" {% if form.access.value == 'OPEN'%}checked{% endif%}>
                        </div>
                        <div class="pl-7 text-sm leading-5">
                            <label for="open" class="font-medium text-gray-700">Open</label>
                            <p class="text-gray-500">Het formulier kan door iedereen met de link ingevuld worden.</p>
                        </div>
                    </div>
                    <div class="relative flex items-start mt-2">
                        <div class="absolute flex items-center h-5">
                            <input id="closed" type="radio" name="access" class="form-radio h-4 w-4 text-blue-600 transition duration-150 ease-in-out" value="CLOSED" {% if form.access.value == 'CLOSED'%}checked{% endif%}>
                        </div>
                        <div class="pl-7 text-sm leading-5">
                            <label for="closed" class="font-medium text-gray-700">Gesloten</label>
                            <p class="text-gray-500">Het formulier kan op uitnodiging ingevuld worden.</p>
                        </div>
                    </div>
                </div>

                {% for error in form.access.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_is_published" class="block text-sm font-medium leading-5 text-gray-700">Publiceren?</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.is_published }}
                    </div>
                </div>
                {% for error in form.is_published.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center">
                        <label for="id_opening_date" class="block text-sm font-medium leading-5 text-gray-700">Openingsdatum</label>
                        <p class="text-gray-500 text-sm max-w-sm">De datum vanaf wanneer het gepubliceerde formulier ingevuld kan worden. Bij een lege waarde wordt dit genegeerd. Voor de tijd wordt tijdzone {{ current_timezone }} aangehouden.</p>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.opening_date }}
                    </div>
                </div>
                {% for error in form.opening_date.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center">
                        <label for="id_closing_date" class="block text-sm font-medium leading-5 text-gray-700">Sluitingsdatum</label>
                        <p class="text-gray-500 text-sm max-w-sm">De datum tot wanneer het gepubliceerde formulier ingevuld kan worden. Bij een lege waarde wordt dit genegeerd. Voor de tijd wordt tijdzone {{ current_timezone }} aangehouden.</p>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.closing_date }}
                    </div>
                </div>
                {% for error in form.closing_date.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_is_response_downloadable" class="block text-sm font-medium leading-5 text-gray-700">Gebruiker kan ingevuld formulier downloaden</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.is_response_downloadable }}
                    </div>
                </div>
                {% for error in form.is_response_downloadable.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_respondent_can_request_access" class="block text-sm font-medium leading-5 text-gray-700">Gebruiker kan toegang aanvragen (bij gesloten formulier)</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.respondent_can_request_access }}
                    </div>
                </div>
                {% for error in form.respondent_can_request_access.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_respondent_can_preview_form" class="block text-sm font-medium leading-5 text-gray-700">Gebruiker kan een voorvertoning bekijken (bij gesloten formulier)</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.respondent_can_preview_form }}
                    </div>
                </div>
                {% for error in form.respondent_can_preview_form.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="mt-6">
                <div class="relative flex items-start">
                    <div class="items-center h-5">
                        <label for="id_respondent_require_email_validation" class="block text-sm font-medium leading-5 text-gray-700">Gebruiker moet nogmaals inloggen (extra beveiliging bij gesloten formulier)</label>
                    </div>
                    <div class="pl-7 text-sm leading-5">
                        {{ form.respondent_require_email_validation }}
                    </div>
                </div>
                {% for error in form.respondent_require_email_validation.errors %}
                    {{ error }}
                {% endfor %}
            </div>

            <div class="mt-6 flex justify-between">
                <button type="submit" class="btn-primary">
                    Opslaan
                </button>

                <a href="{% url 'delete_form' form_id %}" class="btn-secondary-danger">Verwijder</a>
            </div>
        </form>
    </div>
{% endblock %}
