{% extends '_base.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <form method="POST">
            {% csrf_token %}

            <div id="js-actions-editor-entry-point" class="mt-1"></div>
            {{ js_actions_editor|json_script:"js-actions-editor-data" }}

            <div class="mt-6 flex justify-between">
              <button type="submit" class="btn-primary">
                  Opslaan
              </button>

              <a href="{% url 'delete_action' action.id %}" class="btn-secondary-danger">Verwijder</a>
            </div>
          </form>
    </div>
{% endblock %}
