{% load static %}
{% load render_bundle from webpack_loader %}

<p>
    Voorbeeld van een embed:
</p>

<textarea rows="20" cols="100">
{% for chunk in chunks %}{{chunk}}
{% endfor %}<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<script type="text/javascript">
    let form;
    function initForm() {
        const settings = {
            apiUrl: '{{ api_url }}',
            formId: '{{ form.id }}'
        };
        form = new forms.Form(document.getElementById("form"), settings);
    }

    window.initForm = initForm;
</script>
</textarea>

{% render_bundle 'embed' %}

<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<script type="text/javascript">
    let form;
    function initForm() {
        const settings = {
            apiUrl: '{{ api_url }}',
            formId: '{{ form.id }}'
        };
        form = new forms.Form(document.getElementById("form"), settings);
    }

    window.initForm = initForm;
</script>
<div id="form"></div>