{% extends '_base_no_nav.html' %}

{% block content %}
    {% if closed %}
      <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
          {{ form.title }}
        </h1>
        <p>Dit formulier kan op dit moment niet worden ingevuld.</p>
        {% if form.opening_date %}
        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">Aanvangsttijd: {{ form.opening_date }}</p>
        {% endif %}
        {% if form.closing_date %}
        <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-600">Sluitingstijd: {{ form.closing_date }}</p>
        {% endif %}
      </div>
    {% elif submitted %}
      <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <h1 class="text-3xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
          {{ form.title }}
        </h1>
        <div class="mt-6 sm:mt-5">
          <p class="text-sm font-medium">
            {% if form.thank_you_message %}
              {{ form.thank_you_message }}
            {% else %}
              Bedankt voor het invullen van het formulier.
            {% endif %}</p>

          {% if form.is_response_downloadable %}
            <a href="{% url 'user_download_form_xlsx' form.id %}" class="btn-primary mt-6">Download kopie in Excel</a>
            <a href="{% url 'user_download_form_docx' form.id %}" class="btn-primary mt-6">Download kopie in Word</a>
            <a href="{% url 'user_download_form_pdf' form.id %}" class="btn-primary mt-6">Download kopie in PDF</a>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div id="js-form-entry-point"></div>
      {{ js_form_data|json_script:"js-form-data" }}
    {% endif %}
{% endblock %}
