{% extends '_base.html' %}

{% block header %}
  {% include 'partials/form_header.html' %}
{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-end">
      <a href="{% url 'admin_export_form' form.id %}" class="btn-secondary">
        Antwoorden exporteren
      </a>
    </div>
    <div class="flex flex-col mt-4">
      <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Id
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Datum
                </th>
                {% if form.access == 'CLOSED' %}
                  <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Respondent
                  </th>
                {% endif %}
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"></th>
                {% for field in fields %}
                  <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    {{ field.id }}
                  </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for response in form.responses.all %}
                <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% else %}bg-white{% endif %}">
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{ response.id }}</td>
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">{{ response.created_at }}</td>
                  {% if form.access == 'CLOSED' %}
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                      {{ response.respondent|default:'-' }}
                    </td>
                  {% endif %}
                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                    {% if response.respondent and response.respondent.code %}<a href="{% url 'introduction_form' response.form.id response.respondent.code %}" target="_blank" class="text-indigo-600 hover:text-indigo-900 mr-2">Wijzig</a>{% endif %}<a href="{% url 'delete_response' response.id %}" class="text-indigo-600 hover:text-indigo-900 mr-2">Verwijder</a><a href="{% url 'user_download_form_pdf' form.id response.id %}" class="text-indigo-600 hover:text-indigo-900 whitespace-no-wrap">Exporteer PDF</a>
                  </td>
                  {% for field_data in response.export_data %}
                    <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                      {{ field_data|default:'-' }}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}