{% extends '_base.html' %}

{% block header %}
  {% include 'partials/form_header.html' %}
{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-end">
      <a href="{% url 'form_respondents_create' form.id %}" class="btn-primary">
        Respondent toevoegen
      </a>
    </div>

    <div id="js-respondentList-entry-point" class="mt-1"></div>
    {{ js_respondentList|json_script:"js-respondentList-data" }}
  </div>
{% endblock %}
