{% extends '_base.html' %}

{% block header %}
  {% include 'partials/form_header.html' %}
{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="flex justify-end">
      <a href="{% url 'form_actions_create' form.id %}" class="btn-primary">
        Actie toevoegen
      </a>
    </div>

    <div class="flex flex-col mt-4">
      <div class="overflow-x-auto">
        <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
          <table class="min-w-full">
            <thead>
              <tr>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Naam
                </th>
              </tr>
            </thead>
            <tbody>
              {% for action in form.actions.all %}
                <tr class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% else %}bg-white{% endif %}">
                  <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                    {% if action.key == 'core.actions.send_email' %}
                      Verstuur e-mail
                    {% elif action.key == 'core.actions.http_request' %}
                      HTTP verzoek
                    {% endif %}
                  </td>
                  <td class="px-6 py-4 whitespace-no-wrap text-right text-sm leading-5 font-medium">
                    <a href="{% url 'edit_action' action.id %}" class="text-indigo-600 hover:text-indigo-900">Wijzig</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
