{% extends '_base.html' %}

{% block header %}
  {% include 'partials/form_header.html' %}
{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <form method="POST">
      {% csrf_token %}

      <div id="js-actions-editor-entry-point" class="mt-1"></div>
      {{ js_actions_editor|json_script:"js-actions-editor-data" }}

      <button type="submit" class="mt-6 btn-primary">
        Opslaan
      </button>
    </form>
  </div>
{% endblock %}
