{% extends '_base.html' %}

{% block header %}
  {% include 'partials/form_header.html' %}
{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <form method="POST">
      {% csrf_token %}

      {{ respondent_form.non_field_errors }}

      {% for hidden_field in respondent_form.hidden_fields %}
          {{ hidden_field.errors }}
          {{ hidden_field }}
      {% endfor %}

      <div class="mt-6">
        <div class="mt-1 rounded-md shadow-sm">
            <label for="id_full_name" class="block text-sm font-medium leading-5 text-gray-700">
                Volledige naam*
            </label>
            {{ respondent_form.full_name }}
        </div>
        {% for error in respondent_form.full_name.errors %}
            <p class="mt-2 text-sm text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mt-6">
        <div class="mt-1 rounded-md shadow-sm">
            <label for="id_email" class="block text-sm font-medium leading-5 text-gray-700">
                E-mailadres*
            </label>
            {{ respondent_form.email }}
        </div>
        {% for error in respondent_form.email.errors %}
            <p class="mt-2 text-sm text-red-600">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="mt-6">
        <div class="mt-1 rounded-md shadow-sm">
            <label for="id_phone" class="block text-sm font-medium leading-5 text-gray-700">
                Telefoonnummer
            </label>
            {{ respondent_form.phone }}
        </div>
        {% for error in respondent_form.phone.errors %}
            <p class="mt-2 text-sm text-red-600">{{ error }}</p>
        {% endfor %}
      </div>


      <div class="mt-6">
        <div class="relative flex items-start">
            <div class="items-center h-5">
                <label for="id_send_email_notification" class="block text-sm font-medium leading-5 text-gray-700">Verstuur e-mailnotificatie</label>
            </div>
            <div class="pl-7 text-sm leading-5">
                {{ respondent_form.send_email_notification }}
            </div>
        </div>
        {% for error in respondent_form.send_email_notificatio.errors %}
            {{ error }}
        {% endfor %}
      </div>

      <button type="submit" class="mt-6 btn-primary">
        Opslaan
      </button>
    </form>
  </div>
{% endblock %}
