{% extends '_base_no_nav.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    {% if form.logo %}
        <img src="{{ form.logo.url }}" class="h-15" alt="" />
    {% endif %}
    <h1 class="mt-4 text-3xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
        {{ form.title }}
    </h1>
    <div class="mt-6 sm:mt-5">
        <div id="js-introduction-entry-point"></div>
        {{ js_introduction_data|json_script:"js-introduction-data" }}

        {% if form.access == 'OPEN' or code %}
            <a class="mt-8 btn-primary" href="/forms/{{ form.id }}/fill{% if code %}/{{ code }}{% endif %}">Naar het formulier</a>
        {% elif form.access == 'CLOSED' %}
            {% if form.respondent_can_request_access %}
                <a class="mt-8 btn-primary" href="/forms/{{ form.id }}/request_access">Vraag toegang aan</a>
            {% endif %}
        {% endif %}

        {% if form.access == 'CLOSED' and form.respondent_can_preview_form %}
            <a class="mt-8 btn-secondary" href="/forms/{{ form.id }}/preview">Bekijk voorvertoning</a>
        {% else %}
            {% if request.user in form.managers.all %}
                <a class="mt-8 btn-secondary" href="/forms/{{ form.id }}/fill">Bekijk formulier als beheerder</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
