{% extends '_base_no_nav.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    {% if form.logo %}
        <img src="{{ form.logo.url }}" class="h-15" alt="" />
    {% endif %}
    <h1 class="mt-4 text-3xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
        {{ form.title }}
    </h1>
    <div class="mt-6 sm:mt-5">
        <p class="text-sm">Uw toegangsaanvraag is verstuurd. De beheerder zal deze beoordelen.</p>
    </div>
{% endblock %}
