{% extends '_base_no_nav.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    {% if form.logo %}
        <img src="{{ form.logo.url }}" class="h-15" alt="" />
    {% endif %}
    <h1 class="mt-4 text-3xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
        {{ form.title }}
    </h1>
    <div class="mt-6 sm:mt-5">
        <p class="text-sm">Vul hieronder de gegevens in om toegang aan te vragen</p>
        <form method="POST">
            {% csrf_token %}

            {{ respondent_form.non_field_errors }}

            {% for hidden_field in respondent_form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}

            <div class="mt-6">
              <div class="mt-1 rounded-md shadow-sm">
                  <label for="id_full_name" class="block text-sm font-medium leading-5 text-gray-700">
                      Volledige naam*
                  </label>
                  {{ respondent_form.full_name }}
              </div>
              {% for error in respondent_form.full_name.errors %}
                  <p class="mt-2 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mt-6">
              <div class="mt-1 rounded-md shadow-sm">
                  <label for="id_email" class="block text-sm font-medium leading-5 text-gray-700">
                      E-mailadres*
                  </label>
                  {{ respondent_form.email }}
              </div>
              {% for error in respondent_form.email.errors %}
                  <p class="mt-2 text-sm text-red-600">{{ error }}</p>
              {% endfor %}
            </div>

            <div class="mt-6">
                <div class="mt-1 rounded-md shadow-sm">
                    <label for="id_phone" class="block text-sm font-medium leading-5 text-gray-700">
                        Telefoonnummer
                    </label>
                    {{ respondent_form.phone }}
                </div>
                {% for error in respondent_form.phone.errors %}
                    <p class="mt-2 text-sm text-red-600">{{ error }}</p>
                {% endfor %}
              </div>

            <button type="submit" class="mt-6 btn-primary">
              Aanvragen
            </button>
          </form>
    </div>
{% endblock %}
