{% extends '_base_no_nav.html' %}

{% block content %}
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
    {% if form.logo %}
        <img src="{{ form.logo.url }}" class="h-15" alt="" />
    {% endif %}
    <h1 class="mt-4 text-3xl leading-8 font-semibold text-gray-900 sm:text-3xl sm:leading-9">
        {{ form.title }}
    </h1>
    <div class="mt-6 sm:mt-5 prose">
        Klik op de onderstaande knop om een unieke inloglink aan te vragen. Deze link wordt opgestuurd per e-mail en is 15 minuten geldig.
    </div>

    {% if error %}
        <div class="mt-3 rounded-md bg-red-50 p-4">
            <div class="flex">
            <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-red-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <h3 class="text-sm font-medium text-red-800">{{ error }}</h3>
            </div>
            </div>
        </div>
    {% endif %}

    {% if sent %}
        <div class="mt-3 rounded-md bg-green-50 p-4">
            <div class="flex">
            <div class="flex-shrink-0">
                <svg class="h-5 w-5 text-green-800" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="ml-3">
                <h3 class="text-sm font-medium text-green-700">De link is verstuurd per e-mail. Controleer uw e-mail en volg de link.</h3>
            </div>
            </div>
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <button type="submit" class="mt-6 btn-primary">
            Vraag code aan
        </button>
    </form>
{% endblock %}
