{% extends '_base.html' %}

{% block header %}
  {% include 'partials/form_header.html' %}
{% endblock %}

{% block content %}
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="bg-white shadow overflow-hidden sm:rounded-md">
      <ul>
        {% for field in fields %}
          <li class="border-t border-gray-200">
            <div class="px-4 py-4 flex items-center sm:px-6">
              <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
                <div>
                  <div class="text-sm leading-5 font-medium text-gray-800">
                    {% if field.label %}
                      {{ field.label }}
                    {% else %}
                      {{ field.value }}
                    {% endif %}
                  </div>
                  <div class="mt-2 flex items-center text-sm leading-5 text-gray-500">
                      {% if field.type == 'number' %}
                        Getal
                      {% elif field.type == 'longtext' %}
                        Lange tekst
                      {% elif field.type == 'email' %}
                        E-mail
                      {% elif field.type == 'dropdown' %}
                        Keuzelijst
                      {% elif field.type == 'checkbox' %}
                        Checkbox
                      {% elif field.type == 'array' %}
                        Veld met reeks
                      {% elif field.type == 'file' %}
                        Bestand
                      {% else %}
                        Tekst
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}