<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto pt-6 px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:justify-between">
      <div class="md:flex md:items-center md:space-x-3">
        <h1 class="text-3xl font-bold leading-tight text-gray-900">
          {{ form.title }}
        </h1>
        {% if form.is_published %}
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 bg-blue-100 text-blue-800">
            Gepubliceerd
          </span>
        {% else %}
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium leading-5 bg-gray-100 text-gray-800">
            Concept
          </span>
        {% endif %}
      </div>
      <div class="mt-3 md:mt-0">
        <a href="{% url 'edit_form' form.id %}" class="btn-secondary">
          Wijzigen
        </a>
        <a href="{% url 'duplicate_form' form.id %}" class="btn-secondary">
          Dupliceren
        </a>
        {% if form.is_published %}
          <a href="{% url 'introduction_form' form.id %}" target="_blank" class="btn-primary">
            Bekijken
          </a>
          {% if form.access == 'OPEN' %}
            <a href="{% url 'embed_form' form.id %}" target="_blank" class="btn-secondary">
              Embed
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>

    <nav class="-mb-px mt-3 flex overflow-x-auto">
      {% url 'view_form' form.id as view_form_url %}
      <a href="{{ view_form_url }}" class="whitespace-no-wrap py-4 px-1 border-b-2 font-medium text-sm leading-5 focus:outline-none {% if request.path == view_form_url %}border-blue-500 text-blue-600 focus:text-blue-800 focus:border-blue-700{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300{% endif %}" {% if request.path == view_form_url %}aria-current="page"{% endif %}>
        Vragen
      </a>
      {% url 'form_answers' form.id as form_answers_url %}
      <a href="{{ form_answers_url }}" class="whitespace-no-wrap ml-8 py-4 px-1 border-b-2 font-medium text-sm leading-5 focus:outline-none {% if request.path == form_answers_url %}border-blue-500 text-blue-600 focus:text-blue-800 focus:border-blue-700{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300{% endif %}" {% if request.path == form_answers_url %}aria-current="page"{% endif %}>
        Antwoorden
      </a>
      {% url 'form_respondents' form.id as form_respondents_url %}
      {% if form.access == 'CLOSED' %}
        <a href="{{ form_respondents_url }}" class="whitespace-no-wrap ml-8 py-4 px-1 border-b-2 font-medium text-sm leading-5 focus:outline-none {% if request.path == form_respondents_url %}border-blue-500 text-blue-600 focus:text-blue-800 focus:border-blue-700{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300{% endif %}" {% if request.path == form_respondents_url %}aria-current="page"{% endif %}>
          Respondenten
        </a>
      {% endif %}
      {% url 'form_actions' form.id as form_actions_url %}
      <a href="{{ form_actions_url }}" class="whitespace-no-wrap ml-8 py-4 px-1 border-b-2 font-medium text-sm leading-5 focus:outline-none {% if request.path == form_actions_url %}border-blue-500 text-blue-600 focus:text-blue-800 focus:border-blue-700{% else %}border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:text-gray-700 focus:border-gray-300{% endif %}" {% if request.path == form_actions_url %}aria-current="page"{% endif %}>
        Acties
      </a>
    </nav>
  </div>
</header>