{% load static %}
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center overflow-x-auto" aria-label="Hoofdmenu">
        <div class="flex-shrink-0 text-white text-xl font-semibold">
          Forms
        </div>
        <div class="ml-10 flex items-baseline">
          <a href="{% url 'dashboard' %}" class="px-3 py-2 rounded-md text-sm text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-700">Dashboard</a>
        </div>
      </div>
      <div class="ml-4 flex items-center md:ml-6">
        <div id="js-user-menu-entry-point"></div>
        {{ js_user_menu_data|json_script:"js-user-menu-data" }}
      </div>
    </div>
  </div>
</nav>