@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-600 transition duration-150 ease-in-out;
}
.btn-primary:focus {
  @apply outline-blue border-blue-700;
}
.btn-primary:enabled:hover {
  @apply bg-blue-500;
}
.btn-primary:disabled {
  @apply cursor-not-allowed opacity-50;
}
.btn-primary:active {
  @apply bg-blue-700;
}

.btn-primary-danger {
  @apply inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 transition duration-150 ease-in-out;
}
.btn-primary-danger:focus {
  @apply outline-none shadow-outline-red border-red-700;
}
.btn-primary-danger:enabled:hover {
  @apply bg-red-500;
}
.btn-primary-danger:disabled {
  @apply cursor-not-allowed opacity-50;
}
.btn-primary-danger:active {
  @apply bg-red-700;
}

.btn-secondary {
  @apply inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white transition ease-in-out duration-150;
}
.btn-secondary:focus {
  @apply outline-none border-blue-600 shadow-outline-blue;
}
.btn-secondary:enabled:hover {
  @apply text-gray-500;
}
.btn-secondary:disabled {
  @apply cursor-not-allowed opacity-50;
}
.btn-secondary:active {
  @apply text-gray-800 bg-gray-50;
}

.btn-secondary-danger {
  @apply inline-flex items-center px-4 py-2 border border-red-300 text-sm leading-5 font-medium rounded-md text-red-700 bg-white transition ease-in-out duration-150;
}
.btn-secondary-danger:focus {
  @apply outline-none border-red-300 shadow-outline-blue;
}
.btn-secondary-danger:enabled:hover {
  @apply text-red-500;
}
.btn-secondary-danger:disabled {
  @apply cursor-not-allowed opacity-50;
}
.btn-secondary-danger:active {
  @apply text-red-800 bg-red-50;
}
