<template>
  <div>
    <label for="id_key" class="block text-sm font-medium text-gray-700">
      Type
    </label>
    <select
      name="key"
      required
      id="id_key"
      class="form-multiselect block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5"
      v-model="key"
      :disabled="this.initialValues.key != ''"
    >
      <option
        v-for="choice in this.KEY_CHOICES"
        v-bind:key="choice.key"
        :value="choice.key"
      >
        {{ choice.value }}
      </option>
    </select>
    <FormComponent
      v-if="key"
      :fields="this.FIELDS_PER_TYPE[key]"
      v-model="args"
    />
    <input type="hidden" name="args" :value="JSON.stringify(args)" />
  </div>
</template>

<script>
import FormComponent from './FormComponent';

export default {
  name: 'ActionsEditor',
  components: {
    FormComponent,
  },
  created() {
    this.KEY_CHOICES = [
      { key: '', value: '' },
      { key: 'core.actions.send_email', value: 'Verstuur e-mail' },
      { key: 'core.actions.http_request', value: 'HTTP verzoek' },
    ];

    this.FIELDS_PER_TYPE = {
      'core.actions.http_request': [
        { label: 'URL', name: 'url', type: 'text', required: true },
      ],
      'core.actions.send_email': [
        {
          label: 'E-mailadres ontvanger',
          name: 'email_to',
          type: 'textarray',
          required: true,
        },
        {
          label: 'E-mailadres CC',
          name: 'email_cc',
          type: 'textarray',
          required: false,
        },
        {
          label: 'E-mailadres BCC',
          name: 'email_bcc',
          type: 'textarray',
          required: false,
        },
        {
          label: 'Veldnaam met e-mailadres verzender',
          name: 'reply_to_field',
          type: 'text',
          explainer:
            'Vul hier de naam van het veld in waar het e-mailadres van de afzender in vermeld staat.',
        },
        {
          label: 'Aangepast onderwerp',
          name: 'subject',
          type: 'text',
          explainer:
            'Het is mogelijk om variabelen te gebruiken zoals {{ form }} en {{ response }}.',
        },
        {
          label: 'Aangepast bericht',
          name: 'message',
          type: 'textarea',
          explainer:
            'Het is mogelijk om variabelen te gebruiken zoals {{ form }} en {{ response }}.',
        },
        {
          label: 'Toon link naar formulier in notificatiemail',
          name: 'show_view_form_url',
          type: 'boolean',
          default: true,
        },
        {
          label: 'Voeg bijlagen toe',
          name: 'add_attachments',
          type: 'boolean',
          default: false,
        },
      ],
    };
  },
  data() {
    return {
      key: this.initialValues.key,
      args: this.initialValues.args,
    };
  },
  computed: {},
  props: {
    initialValues: Object,
  },
};
</script>
